<mat-toolbar class="toolbar-color py-5 mb-4">
    <span class="center">{{'detail:PROCESS:TITLE'|translate}} {{numero}}</span>
</mat-toolbar>

<div style="padding: 30px;">
    <form [formGroup]="detailForm">
    
        <div style="padding-top: 10px;">
            <mat-label>{{'detail:PROCESS:Code'|translate}}</mat-label><br>
            <label>
                <input matInput formControlName="numero" type="text" placeholder="" style="width: 100%;line-height: 25px;">
            </label>                        
        </div>
        
        <div style="padding-top: 10px;">
            <mat-label>{{'detail:PROCESS:Description'|translate}}</mat-label><br>
            <label>
                <input matInput formControlName="descricao" type="text" placeholder="" style="width: 100%;line-height: 25px;">
            </label>                                                                
        </div>

        <div style="padding-top: 10px;">
            <mat-label>{{'detail:PROCESS:Tipo'|translate}}</mat-label><br>
            <label>
                <input matInput formControlName="tipo" type="text" placeholder="" style="width: 100%;line-height: 25px;">
            </label>                                                    
        </div>                        
        
        <div style="padding-top: 10px;">
            <mat-label>{{'detail:PROCESS:Status'|translate}}</mat-label><br>
            <label>
                <input matInput formControlName="status" type="text" placeholder="" style="width: 100%;line-height: 25px;">
            </label>                                                    
        </div>

    
        <mat-tab-group>
            <mat-tab label="{{'Lawyers'|translate}}">
                <ng-template matTabContent>
                    <mat-toolbar class="toolbar-color py-5 mb-4" style="height: 26px;background-color: lightgray;" *ngIf="mode != 2">
                        <button class="btn-sem-borda" mat-icon-button (click)="openDialogLawyer(null, CRUDMODE.DETAIL_SELECT_CREATE)">
                            <img class="svg-icon-button-new" [src]="images.url_svg_new" style="width: 30px;">                                
                        </button>            
                    </mat-toolbar>
                    <div style="padding-top: 0px;min-height: 150px;">                      
                        <table style="width: 100%;">
                            <thead>
                                <tr>
                                    <th style="text-align: left;">{{'detail:PROCESS:LAWYER:Name'|translate}}</th>
                                    <th style="text-align: left;">{{'detail:PROCESS:LAWYER:E-Mail'|translate}}</th>
                                </tr>    
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of advogados$ | async">
                                    <td>{{ p.nome }}</td>
                                    <td>{{ p.email }}</td>
                                </tr>    
                            </tbody>
                        </table>
                    </div>                          
                </ng-template>
            </mat-tab>
            <mat-tab label="{{'Customers'|translate}}">
                <ng-template matTabContent>
                    <mat-toolbar class="toolbar-color py-5 mb-4" style="height: 26px;background-color: lightgray;" *ngIf="mode != 2">
                        <button class="btn-sem-borda" mat-icon-button (click)="openDialogCustomer(null, CRUDMODE.DETAIL_SELECT_CREATE)">
                            <img class="svg-icon-button-new" [src]="images.url_svg_new" style="width: 30px;">                                
                        </button>            
                    </mat-toolbar>
                    <div style="padding-top: 0px;min-height: 150px;">
                        <table style="width: 100%;">
                            <thead>
                                <tr>
                                    <th style="text-align: left;">{{'detail:PROCESS:Customer:Name'|translate}}</th>
                                    <th style="text-align: left;">{{'detail:PROCESS:Customer:E-Mail'|translate}}</th>
                                    <th style="text-align: left;">{{'detail:PROCESS:Customer:Telephone'|translate}}</th>
                                </tr>                                
                            </thead>
                            <tbody>                                
                                <tr *ngFor="let p of customers$ | async">
                                    <td>{{ p.nome }}</td>
                                    <td>{{ p.email }}</td>
                                    <td>{{ p.telefone }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                    
                </ng-template>
            </mat-tab>

            <mat-tab label="{{'Parties Involved' | translate}}">
                <ng-template matTabContent>
                    <mat-toolbar class="toolbar-color py-5 mb-4" style="height: 26px;background-color: lightgray;" *ngIf="mode != 2">
                        <button class="btn-sem-borda" mat-icon-button (click)="openDialogParties(null, CRUDMODE.DETAIL_SELECT_CREATE)">
                            <img class="svg-icon-button-new" [src]="images.url_svg_new" style="width: 30px;">                                
                        </button>            
                    </mat-toolbar>
                    <div style="padding-top: 0px;min-height: 150px;">                        
                        <table style="width: 100%;">
                            <thead>
                                <tr>
                                    <th style="text-align: left;">{{'detail:PROCESS:Parties:Name'|translate}}</th>
                                </tr>                                
                            </thead>
                            <tbody>                                
                                <tr *ngFor="let p of partes_envolvidas$ | async">
                                    <td>{{ p.nome }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                    
                </ng-template>
            </mat-tab>
            <mat-tab label="{{'Progress'|translate}}">
                <ng-template matTabContent>
                    <mat-toolbar class="toolbar-color py-5 mb-4" style="height: 26px;background-color: lightgray;" *ngIf="mode != 2">
                        <button class="btn-sem-borda" mat-icon-button (click)="openDialogProgress(null, CRUDMODE.DETAIL_SELECT_CREATE)">
                            <img class="svg-icon-button-new" [src]="images.url_svg_new" style="width: 30px;">                                
                        </button>            
                    </mat-toolbar>
                    <div style="padding-top: 0px;min-height: 150px;">                        
                        <table style="width: 100%;">
                            <tr>
                                <th style="text-align: left;">{{'detail:PROCESS:Progress:Date'|translate}}</th>
                                <th style="text-align: left;">{{'detail:PROCESS:Progress:Description'|translate}}</th>
                                <th>{{'detail:PROCESS:Progress:Status'|translate}}</th>
                            </tr>
                            <tr *ngFor="let p of andamentos$ | async" style="border-bottom:1px solid gray">
                                <td>{{ p.dataAndamento | date: 'dd/MM/YYYY' }}</td>
                                <td>{{ p.descricao }}</td>
                                <td>{{ p.statusAtual }}</td>
                            </tr>
                        </table>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="{{'Attachments'|translate}}">
                <ng-template matTabContent>
                    <mat-toolbar class="toolbar-color py-5 mb-4" style="height: 26px;background-color: lightgray;" *ngIf="mode != 2">
                        <button class="btn-sem-borda" mat-icon-button (click)="openDialogAttachment(null, CRUDMODE.DETAIL_SELECT_CREATE)">
                            <img class="svg-icon-button-new" [src]="images.url_svg_new" style="width: 30px;">                                
                        </button>            
                    </mat-toolbar>
                    <div style="padding-top: 0px;min-height: 150px;">
                        <table style="width: 100%;">
                            <thead>
                                <tr>
                                    <th style="text-align: left;">{{'detail:PROCESS:Attachments:Name'|translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of anexos$ | async">
                                    <td>{{ p.nome }}</td>
                                </tr>    
                            </tbody>
                        </table>
                    </div>                                   
                </ng-template>
            </mat-tab>                
        </mat-tab-group>

        <div style="padding-top: 20px;">
            <button mat-raised-button 
                    *ngIf="loadType === ELOADTYPE.DIALOG"
                    (click)="close()" 
                    style="color:darkred">{{'detail:CLOSE'|translate}}</button>
            <button mat-raised-button 
                    *ngIf="mode != 2"
                    (click)="submit()" 
                    type="submit" 
                    style="float: right;color:green" 
                    >{{'detail:STORE'|translate}}</button>
            <button mat-raised-button 
                    *ngIf="mode == 2 && loadType != ELOADTYPE.DIALOG"
                    (click)="navigateToLista()"
                    type="submit" 
                    style="float: right;color:green" 
                    >{{'detail:BACK'|translate}}</button>
        </div>                    
    
    </form>    
</div>