<div style="padding: 30px;">
    <form [formGroup]="detailForm">
    
        <div style="padding-top: 10px;">
            <mat-label>{{'detail:CUSTOMER:Name'|translate}}</mat-label><br>
            <label>
                <input matInput formControlName="nome" type="text" placeholder="John Doe" style="width: 100%;line-height: 25px;">
            </label>                        
        </div>
        
        <div style="padding-top: 10px;">
            <mat-label>{{'detail:CUSTOMER:DOC'|translate}}</mat-label><br>
            <label>
                <input matInput formControlName="cpfCnpj" type="text" placeholder="" style="width: 100%;line-height: 25px;">
            </label>                                                                
        </div>

        <div style="padding-top: 10px;">
            <mat-label>{{'detail:CUSTOMER:Address'|translate}}</mat-label><br>
            <label>
                <input matInput formControlName="endereco" type="text" placeholder="" style="width: 100%;line-height: 25px;">
            </label>                                                    
        </div>                        
        
        <div style="padding-top: 10px;">
            <mat-label>{{'detail:CUSTOMER:Telephone'|translate}}</mat-label><br>
            <label>
                <input matInput formControlName="telefone" type="email" placeholder="" style="width: 100%;line-height: 25px;">
            </label>                                                    
        </div>                        
        
        <div style="padding-top: 10px;">
            <mat-label>{{'detail:CUSTOMER:E-Mail'|translate}}</mat-label><br>
            <label>
                <input matInput formControlName="email" type="email" placeholder="" style="width: 100%;line-height: 25px;">
            </label>                                                    
        </div>                        
    
        <div style="padding-top: 20px;">            
            <button mat-raised-button (click)="close()" style="color:darkred">{{'detail:CLOSE'|translate}}</button>            
            <button mat-raised-button (click)="submit()" type="submit" style="float: right;color:green" *ngIf="mode !== CRUDMODE.READ">{{'detail:STORE'|translate}}</button>
        </div>                    
    
    </form>    
</div>