<mat-toolbar class="toolbar-color py-5 mb-4">
    <span class="center">{{'grid:PROCESS:TITLE'|translate}}</span>
</mat-toolbar>
<div class="container">
    <div>
        <mat-toolbar class="toolbar-color-sub py-5 mb-4">
            <button class="btn-sem-borda" mat-icon-button (click)="navigateToDetail(null, CRUDMODE.CREATE)">
                <img class="svg-icon-button-new" [src]="images.url_svg_new" style="width: 30px;">
                {{'grid:NEW'|translate}}            
            </button>
        </mat-toolbar>
    </div>
    <div style="padding: 0px;text-align: center;">

        <div *ngIf="(data$ | async) as hasData">

            <table style="width: 100%;" *ngIf="hasData.length > 0">
                <thead>
                    <tr class="toolbar-color-sub">
                        <th>{{'grid:PROCESS:Column:Code'|translate}}</th>
                        <th style="width: 150px;">{{'grid:PROCESS:Column:Status'|translate}}</th>
                        <th>{{'grid:PROCESS:Column:Description'|translate}}</th>
                        <th style="width: 150px;">{{'grid:PROCESS:Column:Updated'|translate}}</th>
                        <th style="width: 150px;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let obj of hasData">
                        <td>{{ obj.numero }}</td>
                        <td>{{ obj.status }}</td>
                        <td>{{ obj.descricao }}</td>                    
                        <td>{{ obj.updated | date: 'dd/MM/yyyy' }}</td>
                        <td>
                            <button class="btn-sem-borda" mat-icon-button 
                                    (click)="navigateToDetail(obj.id, CRUDMODE.READ)"
                                    routerLinkActive="router-link-active" 
                                    style="margin-top:8px">
                                <img class="svg-icon-button-view" [src]="images.url_svg_view" style="width: 30px;">                                
                            </button>
                            <button class="btn-sem-borda" mat-icon-button 
                                    (click)="navigateToDetail(obj.id, CRUDMODE.UPDATE)"
                                    routerLinkActive="router-link-active" 
                                    style="margin-top:8px">                                
                                <img class="svg-icon-button-edit" [src]="images.url_svg_edit" style="width: 30px;">
                            </button>
                            <button class="btn-sem-borda" mat-icon-button 
                                (click)="openDialog(obj.id, CRUDMODE.DELETE)" 
                                routerLinkActive="router-link-active" 
                                style="margin-top:8px">                                
                                <img class="svg-icon-button-delete" [src]="images.url_svg_delete" style="width: 30px;">
                            </button>  
                        </td>
                    </tr>    
                </tbody>
            </table>

            <table style="width: 100%;" *ngIf="hasData.length == 0">
                <thead>
                    <tr class="toolbar-color-sub">
                        <th>{{'grid:PROCESS:Column:Code'|translate}}</th>
                        <th style="width: 150px;">{{'grid:PROCESS:Column:Status'|translate}}</th>
                        <th>{{'grid:PROCESS:Column:Description'|translate}}</th>
                        <th style="width: 150px;">{{'grid:PROCESS:Column:Updated'|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <div *ngIf="hasData.length == 0" style="text-align: center;margin-top: 50px;">
                <p style="color:black">{{'grid:NO-DATA'|translate}}</p>                
            </div>

        </div>

    </div>
</div>
