<mat-toolbar class="toolbar-color py-5 mb-4">
    <span class="center">{{ 'account:TITLE' | translate }}</span>
</mat-toolbar>

<div class="container">

    <div *ngIf="logged">
        <div style="padding: 30px;padding-bottom: 0px;">
            <mat-card appearance="outlined" style="background-color: lightgray;">
                <!--<img mat-card-image src="../">-->
                <mat-card-header>
                    <mat-card-title>{{ this.user?.name }}</mat-card-title>
                    <mat-card-subtitle>{{ this.user?.username }} {{ 'account:CONNECTED' | translate }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div style="padding-top: 10px;">
                        <p>
                            {{ "account:NAME" | translate }}: {{ this.user?.name }}<br>
                            {{ "account:EMAIL" | translate }}: {{ this.user?.email }}
                        </p>
                    </div>
                </mat-card-content>
            </mat-card>        
        </div>
    </div>

    <div *ngIf="logged">

        <div style="padding: 30px;grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));display: grid;">
            <!-- TODO: MELHORAR ESTA IMPLEMENTAÇÃO COM UM TIPO DE MENU SERVICE -->

            <div style="background-color: gray;color:white;cursor: pointer;margin-top:5px;margin-left: 5px;" routerLink="/customers">
                <button mat-icon-button routerLink="/customers" routerLinkActive="router-link-active" style="margin-top:8px" title="Customers">
                    <mat-icon style="color:white">people</mat-icon>
                    <span style="color:white">{{'Customers'|translate}}&nbsp;({{ data?.clientes }})</span><br>&nbsp;
                </button>
            </div>
            <!--<div style="height: 10px;"></div>-->
            <div style="background-color: gray;cursor: pointer;margin-top:5px;margin-left: 5px;" routerLink="/lawyers">
                <button mat-icon-button routerLink="/files" routerLinkActive="router-link-active" routerLink="/lawyers" routerLinkActive="router-link-active" style="margin-top:8px;" title="Register">
                    <mat-icon style="color:white;">people</mat-icon>
                    <span style="color:white">{{'Lawyers'|translate}}&nbsp;({{ data?.advogados }})</span><br>&nbsp;
                </button>
            </div>
            <!--<div style="height: 10px;"></div>-->
            <div style="background-color: gray;cursor: pointer;margin-top:5px;margin-left: 5px;" routerLink="/parties-involved">
                <button mat-icon-button routerLink="/parties-involved" routerLinkActive="router-link-active" routerLink="/parties-involved" routerLinkActive="router-link-active" style="margin-top:8px;" title="Parties Involved">
                    <mat-icon style="color:white;">people</mat-icon>
                    <span style="color:white">{{'Parties Involved'|translate}}&nbsp;({{ data?.partes }})</span>
                </button>
            </div>

            <!--<div style="height: 20px;"></div>-->
            <div style="background-color: gray;color:white;padding-top: 10px;cursor: pointer;margin-top:5px;margin-left: 5px;" routerLink="/processes">
                <button mat-icon-button routerLink="/processes" routerLinkActive="router-link-active" style="margin-top:8px" title="Processes">
                    <mat-icon style="color:white">account_tree</mat-icon>
                    <span style="color:white">{{'Processes'|translate}}&nbsp;({{ data?.processos }})</span><br>&nbsp;
                </button>
            </div>
            <!--<div style="height: 10px;"></div>-->
            <div style="background-color: gray;color:white;cursor: pointer;margin-top:5px;margin-left: 5px;" routerLink="/progress">
                <button mat-icon-button routerLink="/progress" routerLinkActive="router-link-active" style="margin-top:8px" title="Progress">
                    <mat-icon style="color:white">rule_settings</mat-icon>
                    <span style="color:white">{{'Progress'|translate}}&nbsp;({{ data?.andamentos }})</span>
                </button>            
            </div>        
            <!--<div style="height: 10px;"></div>-->
            <div style="background-color: gray;cursor: pointer;margin-top:5px;margin-left: 5px;" routerLink="/attachments">
                <button mat-icon-button routerLink="/parties-involved" routerLinkActive="router-link-active" routerLink="/attachments" routerLinkActive="router-link-active" style="margin-top:8px;" title="Attachments">
                    <mat-icon style="color:white;">inventory_2</mat-icon>
                    <span style="color:white">{{'Attachments'|translate}}&nbsp;({{ data?.anexos }})</span><br>&nbsp;
                </button>
            </div>
            <!--<div style="height: 10px;"></div>-->
            <div style="background-color: gray;cursor: pointer;margin-top:5px;margin-left: 5px;" routerLink="/customer-service">
                <button mat-icon-button routerLink="/customer-service" routerLinkActive="router-link-active" routerLink="/custom-service" routerLinkActive="router-link-active" style="margin-top:8px;" title="Custom Service">
                    <mat-icon style="color:white;">today</mat-icon>
                    <span style="color:white">{{'Customer Service'|translate}}</span><br>&nbsp;
                </button>
            </div>
            <!--<div style="height: 10px;"></div>-->
            <div style="background-color: gray;cursor: pointer;margin-top:5px;margin-left: 5px;" routerLink="/schedule">
                <button mat-icon-button routerLink="/schedule" routerLinkActive="router-link-active" routerLink="/schedule" routerLinkActive="router-link-active" style="margin-top:8px;" title="Schedule">
                    <mat-icon style="color:white;">calendar_month</mat-icon>
                    <span style="color:white">{{'Schedule'|translate}}</span><br>&nbsp;
                </button>
            </div>        
        </div>

        <div style="padding: 20px;">

            <div style="background-color: yellowgreen;cursor: pointer;height:50px;" 
                routerLink="/files">
                <button mat-icon-button 
                        routerLink="/files" routerLinkActive="router-link-active" 
                        style="margin-top:8px;width: 100%;text-align: left;padding-top: 2px;" 
                        title="Register">                        
                    <mat-icon>inventory_2</mat-icon>                                                
                    <span style="color:black;margin-bottom: 1px;">&nbsp;{{'Files'|translate}}</span>
                </button>    
            </div>
            <div style="height: 10px;"></div>
            <div style="background-color: yellow;cursor: pointer;height:50px;" 
                routerLink="/notifications">
                <button mat-icon-button 
                        routerLink="/notifications" routerLinkActive="router-link-active" 
                        style="margin-top:8px;width: 100%;text-align: left;padding-top: 2px;" 
                        title="Notifications">
                    <mat-icon>bolt</mat-icon>
                    <span style="color:black">&nbsp;{{'Notifications'|translate}}</span>
                </button>    
            </div>
            <div style="height: 10px;"></div>
            <div style="background-color: lightsalmon;cursor: pointer;height:50px;" 
                (click)="logout()">
                <button mat-icon-button 
                        (click)="logout()" 
                        routerLinkActive="router-link-active" 
                        style="margin-top:8px;width: 100%;text-align: left;padding-top: 2px;" 
                        title="Logout">
                    <mat-icon>logout</mat-icon>
                    <span style="color:black">&nbsp;{{ 'Logout' | translate }}</span>
                </button>            
            </div>
            
        </div>

    </div>

    <div *ngIf="!logged" style="margin-top: 10px;">
        <div style="padding: 30px;">

            <div style="background-color: yellowgreen;cursor: pointer;" routerLink="/register">
                <button mat-icon-button routerLink="/register" routerLinkActive="router-link-active" routerLink="/register" routerLinkActive="router-link-active" style="margin-top:8px;" title="Register">                        
                    <mat-icon>app_registration</mat-icon>                                                
                    <span style="color:black">{{ 'Register' | translate }}</span>
                </button>    
            </div>
            <div style="height: 10px;"></div>
            <div style="background-color: yellow;padding-top: 10px;cursor: pointer;" routerLink="/login">
                <button mat-icon-button routerLink="/login" routerLinkActive="router-link-active" style="margin-top:8px" title="Login">
                    <mat-icon>login</mat-icon>
                    <span style="color:black">{{'Login'|translate}}</span>
                </button>    
            </div>
            <div style="height: 10px;"></div>
            <div style="background-color: lightsalmon;cursor: pointer;" routerLink="/recover">
                <button mat-icon-button routerLink="/recover" routerLinkActive="router-link-active" style="margin-top:8px" title="Recover">
                    <mat-icon>settings</mat-icon>
                    <span style="color:black">{{'Recover'|translate}}</span>
                </button>            
            </div>            
        </div>        
    </div>
</div>    