<mat-toolbar class="toolbar-color py-5 mb-4">
    <span class="center">JURIS CORE</span>
</mat-toolbar>
<div class="container">
    <div style="padding: 40px;text-align: center;">
        <h2>{{ 'home:TITLE' | translate }}</h2>
    </div>

    <div style="padding: 40px;text-align: center;">
        <h4>{{ 'home:HEADLINE' | translate }}</h4>
    </div>
    
    <div style="padding: 40px;text-align: center;">
        <button mat-raised-button routerLink="/user" type="button" style="color:white;background-color: gray;font-size: larger;line-height: 25px;">{{ 'home:CALL-BUTTON' | translate }}</button>
    </div>
</div>
