<mat-toolbar class="toolbar-color py-5 mb-4">
    <span class="center">{{'grid:CUSTOMER:TITLE'|translate}}</span>
</mat-toolbar>
<div class="container">
    <div>
        <mat-toolbar class="toolbar-color-sub py-5 mb-4">
            <button matButton (click)="openDialog(null, CRUDMODE.CREATE)">{{'grid:NEW'|translate}}</button>
        </mat-toolbar>
    </div>
    <div style="padding: 0px;text-align: center;">

        <div *ngIf="(data$ | async) as hasData">

            <table style="width: 100%;" *ngIf="hasData.length > 0">
                <thead>
                    <tr class="toolbar-color-sub">
                        <th>{{'grid:CUSTOMER:Column:Name'|translate}}</th>
                        <th style="width: 150px;">{{'grid:CUSTOMER:Column:DOC'|translate}}</th>
                        <th  style="width: 150px;">{{'grid:CUSTOMER:Column:Telephone'|translate}}</th>
                        <th>{{'grid:CUSTOMER:Column:E-Mail'|translate}}</th>                    
                        <th style="width: 150px;">{{'grid:CUSTOMER:Column:Updated'|translate}}</th>
                        <th style="width: 150px;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let obj of hasData">
                        <td>{{ obj.nome }}</td>
                        <td>{{ obj.cpfCnpj }}</td>
                        <td>{{ obj.telefone }}</td>
                        <td>{{ obj.email }}</td>
                        <td>{{ obj.updated }}</td>
                        <td><button matButton (click)="openDialog(obj.id, CRUDMODE.READ)">{{'grid:VIEW'|translate}}</button>&nbsp;
                            <button matButton (click)="openDialog(obj.id, CRUDMODE.UPDATE)">{{'grid:EDIT'|translate}}</button>&nbsp;
                            <button matButton (click)="openDialog(obj.id, CRUDMODE.DELETE)">{{'grid:DELETE'|translate}}</button></td>
                    </tr>    
                </tbody>
            </table>

            <table style="width: 100%;" *ngIf="hasData.length == 0">
                <thead>
                    <tr class="toolbar-color-sub">
                        <th>{{'grid:CUSTOMER:Column:Name'|translate}}</th>
                        <th style="width: 150px;">{{'grid:CUSTOMER:Column:DOC'|translate}}</th>
                        <th  style="width: 150px;">{{'grid:CUSTOMER:Column:Telephone'|translate}}</th>
                        <th>{{'grid:CUSTOMER:Column:E-Mail'|translate}}</th>                    
                        <th style="width: 150px;">{{'grid:CUSTOMER:Column:Updated'|translate}}</th>
                        <th style="width: 150px;"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <div *ngIf="hasData.length == 0" style="text-align: center;margin-top: 50px;">
                <p style="color:black">{{'grid:NO-DATA'|translate}}</p>                
            </div>

        </div>

    </div>
</div>
